body {
  font-family: Arial, sans-serif;
  padding: 2rem;
  max-width: 900px;
  margin: auto;
  line-height: 1.6;
}

header, section {
  margin-bottom: 2rem;
}

h1 {
  color: #2b7cff;
}

img {
  max-width: 100%;
  margin: 0.5rem 0;
  border-radius: 8px;
}

a {
  color: #2b7cff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

iframe {
  max-width: 100%;
  border-radius: 8px;
}

.galleria{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:10px;
}

.galleria img{
  width:250px;
  height:250px;
  border-radius:8px;
}